.button {
    -fx-background-color: #061018;
    -fx-text-fill: #2b6a9b;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-font-size: 3em;
    -fx-cursor: hand;
}

.button:armed {
    -fx-background-color: #2b6a9b;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #122e43;
    -fx-text-fill: #2b6a9b;
}

.mainWrapper {
    -fx-min-height: 100%;
}