.tootWrapper {
    -fx-background-color: #061018;
    -fx-max-width: 30em;
    -fx-text-fill: white;
    -fx-padding: 1em;
    -fx-alignment: top-left;
}

.tootAuthorName {
    -fx-background-color: #061018;
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
}

.tootAuthorAccount {
    -fx-text-fill: #2b6a9b;
    -fx-padding: 1em;
}

.tootContent {
    -fx-background-color: #0E2333;
    -fx-text-fill: white;
    -fx-min-width: 28em;
}

.tootText {
    -fx-fill: white;

}

.tootLink {
    -fx-text-fill: #AAAAFF
}